## 작업형1

### 문제1

In [6]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch3/members.csv")

In [11]:
df.head()

       id   age city     f1  f2      f3    f4         f5  subscribed    views
2    id03  27.0   서울   61.0   1    gold  ISTJ  17.252986  2021-03-16   7312.0
5    id06  22.0   서울   57.0   0     vip  INTP  20.129444  2021-09-12  21550.0
7    id08  38.0   서울  101.0   1  silver  INFJ  83.685380  2021-03-06   3260.0
9    id10  95.0   서울   74.0   1    gold  ISFP  98.429899  2021-04-03   9992.0
10  id100  47.0   경기   53.0   0     vip  ESFP  33.308999  2021-02-21  15535.0

In [12]:
df.head()

       id   age city     f1  f2      f3    f4         f5  subscribed    views
2    id03  27.0   서울   61.0   1    gold  ISTJ  17.252986  2021-03-16   7312.0
5    id06  22.0   서울   57.0   0     vip  INTP  20.129444  2021-09-12  21550.0
7    id08  38.0   서울  101.0   1  silver  INFJ  83.685380  2021-03-06   3260.0
9    id10  95.0   서울   74.0   1    gold  ISFP  98.429899  2021-04-03   9992.0
10  id100  47.0   경기   53.0   0     vip  ESFP  33.308999  2021-02-21  15535.0

In [13]:
df = df.dropna()
df = df.iloc[:int(len(df) * 0.7)]
a = df['f1'].quantile(0.25)
print(round(a))

57

### 문제2

In [14]:
# 방법1
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch3/year.csv', index_col='Unnamed: 0')

In [15]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
1999,137,74,114,140,80,150,16,133,178,181,...,124,94,118,12,50,191,137,174,56,128
2000,176,87,64,110,128,16,8,4,123,87,...,59,22,3,108,17,104,101,161,156,43
2001,128,132,123,112,134,160,180,47,115,155,...,160,111,116,75,48,51,81,101,194,73

In [16]:
df = df.iloc[1]
a = df.iloc[:].mean()
df = df[df > a]
print(len(df))

100

In [3]:
# 방법2
df = pd.read_csv('https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch3/year.csv', index_col='Unnamed: 0')

### 문제3

In [20]:
# 방법1
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch3/members.csv")

In [21]:
df.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2021-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2021-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2021-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2021-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2021-03-07  1338.0

In [26]:
print(df.isnull().sum().idxmax())

f1

In [5]:
# 방법2
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch3/members.csv")

## 작업형2

In [65]:
# 데이터 불러오기
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch3/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch3/test.csv")

In [66]:
print(train.shape, test.shape)
print(train.info(), test.info())
print(train.describe(), test.describe())
print(train.isnull().sum().sum(), test.isnull().sum().sum())

(1490, 10) (497, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1490 non-null   int64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
 9   TravelInsurance      1490 non-null   int64
dtypes: int64(6), object(4)
memory usage: 116.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           497 non-null    int64
 1   Age                  497 non-null    int64
 2   Employment Type      497 non-null    object
 3   GraduateOrNot        497 non-null    object
 4   AnnualIncome         497 non-null    int64
 5   FamilyMembers        497 non-null    int64
 6   ChronicDiseases      497 non-null    int64
 7   FrequentFlyer        497 non-null    object
 8   EverTravelledAbroad  497 non-null    object
dtypes: int64(5), object(4)
memory usage: 35.1+ KB
None None
        Unnamed: 0          Age  AnnualIncome  FamilyMembers  ChronicDiseases  \
count  1490.000000  1490.000000  1.490000e+03    1490.000000      1490.000000
mean    992.277181    29.600000  9.310738e+05       4.755705         0.280537
std     566.637006     2.887829  3.763057e+05       1.603613         0.449412
min       0.000000    25.000000  3.000000e+05       2.000000         0.000000
25%     502.250000    28.000000  6.000000e+05       4.000000         0.000000
50%     994.500000    29.000000  9.000000e+05       5.000000         0.000000
75%    1479.750000    32.000000  1.250000e+06       6.000000         1.000000
max    1983.000000    35.000000  1.800000e+06       9.000000         1.000000

       TravelInsurance
count      1490.000000
mean          0.352349
std           0.477862
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000           Unnamed: 0         Age  AnnualIncome  FamilyMembers  ChronicDiseases
count   497.000000  497.000000  4.970000e+02     497.000000       497.000000
mean    995.167002   29.800805  9.378270e+05       4.744467         0.269618
std     595.113355    2.986286  3.788348e+05       1.629211         0.444208
min       5.000000   25.000000  3.000000e+05       2.000000         0.000000
25%     468.000000   28.000000  6.000000e+05       4.000000         0.000000
50%     986.000000   29.000000  9.000000e+05       5.000000         0.000000
75%    1550.000000   33.000000  1.250000e+06       6.000000         1.000000
max    1986.000000   35.000000  1.750000e+06       9.000000         1.000000
0 0

In [67]:
train.head()

,Unnamed: 0,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,888,28,Private Sector/Self Employed,Yes,1250000,6,1,No,No,0
1,1308,31,Private Sector/Self Employed,Yes,1250000,7,1,No,No,0
2,151,29,Private Sector/Self Employed,Yes,1200000,7,0,No,No,1
3,396,33,Government Sector,Yes,650000,6,1,No,No,1
4,135,28,Private Sector/Self Employed,Yes,800000,6,0,No,Yes,1

In [68]:
len(train), len(train['Unnamed: 0'].value_counts())

(1490, 1490)

In [69]:
train.pop('Unnamed: 0')
test.pop('Unnamed: 0')
target = train.pop('TravelInsurance')

from sklearn.preprocessing import LabelEncoder

cols = train.select_dtypes(include='O').columns

for col in cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])
    test[col] =  le.transform(test[col])

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(train, target, random_state=0, test_size=0.2)

from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb
import lightgbm as lgbm

rf = RandomForestClassifier(random_state=0)
lr = LogisticRegression()
dt = DecisionTreeClassifier(random_state=0)
xg = xgb.XGBClassifier(random_state=0)
lg = lgbm.LGBMClassifier(random_state=0, verbose = -1)

rf.fit(x_train, y_train)
lr.fit(x_train, y_train)
dt.fit(x_train, y_train)
xg.fit(x_train, y_train)
lg.fit(x_train, y_train)

rf_pred = rf.predict(x_test)
lr_pred = lr.predict(x_test)
dt_pred = dt.predict(x_test)
xg_pred = xg.predict(x_test)
lg_pred = lg.predict(x_test)

print(roc_auc_score(rf_pred, y_test))
print(roc_auc_score(lr_pred, y_test))
print(roc_auc_score(dt_pred, y_test))
print(roc_auc_score(xg_pred, y_test))
print(roc_auc_score(lg_pred, y_test))

C:\Users\pebblous\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7895833333333333
0.8013151425762045
0.7465151515151515
0.7773469387755102
0.7846643264589731

In [79]:
y_pred = lr.predict(test)
result = pd.DataFrame({
    'index':test.index,
    'pred':y_pred
})

result.to_csv('result.csv', index=False)

In [61]:
print(result.shape, test.shape)

(497, 1) (497, 8)

In [70]:
def model_score(model):
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print(roc_auc_score(y_test, y_pred))

rf = RandomForestClassifier(random_state=0)
lr = LogisticRegression()
dt = DecisionTreeClassifier(random_state=0)
xg = xgb.XGBClassifier(random_state=0)
lg = lgbm.LGBMClassifier(random_state=0, verbose = -1)

model_score(rf)
model_score(lr)
model_score(dt)
model_score(xg)
model_score(lg)

0.7641812865497076
0.7389376218323587
0.7378654970760232
0.7649122807017543

C:\Users\pebblous\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7529239766081872

In [80]:
a = pd.read_csv('result.csv')
print(a)

     index  pred
0        0     0
1        1     0
2        2     0
3        3     1
4        4     0
..     ...   ...
492    492     1
493    493     1
494    494     0
495    495     1
496    496     1

[497 rows x 2 columns]