## 작업형1

### 문제1

In [8]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch5/data5-1.csv")

In [9]:
df.head()

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1ℓ가격,1.5ℓ가격,2ℓ가격,2.5ℓ가격,...,60ℓ가격,75ℓ가격,100ℓ가격,120ℓ가격,125ℓ가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

In [10]:
df = df[(df['종량제봉투종류'] == '규격봉투') & (df['종량제봉투용도'] == '음식물쓰레기')]
df = df[df['2ℓ가격'] != 0]
print(round(df['2ℓ가격'].mean()))

118

### 문제2

In [12]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch5/data5-2.csv")

In [13]:
df.head()

  Gender  Height  Weight
0   Male   187.6   109.7
1   Male   174.7    73.6
2   Male   188.2    96.5
3   Male   182.2    99.8
4   Male   177.5    93.6

In [17]:
df.head()

  Gender  Height  Weight        bmi
0   Male   187.6   109.7  31.170298
1   Male   174.7    73.6  24.115263
2   Male   188.2    96.5  27.245079
3   Male   182.2    99.8  30.063102
4   Male   177.5    93.6  29.708391

In [16]:
df['bmi'] = df['Weight'] / ((df['Height'] * 0.01) ** 2)
x = len(df[(df['bmi'] >= 18.5) & (df['bmi'] < 23)])
y = len(df[(df['bmi'] >= 23) & (df['bmi'] < 25)])
print(abs(x - y))

144

### 문제3

In [20]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch5/data5-3.csv")

In [21]:
df.head()

,시도교육청,지역교육청,지역,정보공시 학교코드,학교명,학교급코드,설립구분,제외여부,제외사유,1학년 전입학생수,...,4학년 전체학생수,5학년 전입학생수,5학년 전출학생수,5학년 전체학생수,6학년 전입학생수,6학년 전출학생수,6학년 전체 학생수,전입학생수(계),전출학생수(계),전체학생수(계)
0,서울특별시교육청,교육부,서울특별시 서초구,S000003511,서울교육대학교부설초등학교,2,국립,N,NaN,5.0,...,104.0,0.0,0.0,108.0,0.0,0.0,111.0,6.0,0.0,611.0
1,서울특별시교육청,교육부,서울특별시 종로구,S000003563,서울대학교사범대학부설초등학교,2,국립,N,NaN,4.0,...,104.0,3.0,2.0,104.0,0.0,1.0,106.0,20.0,21.0,621.0
2,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 강남구,S010000738,서울개일초등학교,2,공립,N,NaN,13.0,...,179.0,19.0,8.0,177.0,16.0,5.0,152.0,118.0,50.0,1004.0
3,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 강남구,S010000741,서울구룡초등학교,2,공립,N,NaN,2.0,...,129.0,18.0,4.0,129.0,13.0,3.0,119.0,90.0,27.0,733.0
4,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 강남구,S010000742,서울논현초등학교,2,공립,N,NaN,1.0,...,48.0,2.0,10.0,53.0,0.0,0.0,47.0,6.0,29.0,290.0

In [23]:
df['순전입학생'] = df['전입학생수(계)'] - df['전출학생수(계)']
df = df.sort_values('순전입학생', ascending=False)
df.iloc[0]['전체학생수(계)']

230.0

## 작업형2

In [38]:
# 데이터 불러오기
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch5/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch5/test.csv")

In [39]:
print(train.shape, test.shape)
print(train.info(), test.info())
print(train.describe(), test.describe())
print(train.isnull().sum().sum(), test.isnull().sum().sum())

(3759, 9) (1617, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3759 entries, 0 to 3758
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         3759 non-null   object
 1   year          3759 non-null   int64
 2   price         3759 non-null   int64
 3   transmission  3759 non-null   object
 4   mileage       3759 non-null   int64
 5   fuelType      3759 non-null   object
 6   tax           3759 non-null   int64
 7   mpg           3759 non-null   float64
 8   engineSize    3759 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 264.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1617 entries, 0 to 1616
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         1617 non-null   object
 1   year          1617 non-null   int64
 2   transmission  1617 non-null   object
 3   mileage       1617 non-null   int64
 4   fuelType      1617 non-null   object
 5   tax           1617 non-null   int64
 6   mpg           1617 non-null   float64
 7   engineSize    1617 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 101.2+ KB
None None
              year         price        mileage          tax          mpg  \
count  3759.000000   3759.000000    3759.000000  3759.000000  3759.000000
mean   2016.887736  12353.321362   23191.786379   114.444001    57.793083
std       2.151811   4750.338051   19223.258713    61.713682    10.099221
min    2002.000000   1095.000000       5.000000     0.000000    20.900000
25%    2016.000000   9000.000000    9997.500000    75.000000    52.300000
50%    2017.000000  11495.000000   18180.000000   145.000000    58.900000
75%    2018.000000  15310.000000   31000.000000   145.000000    65.700000
max    2060.000000  48000.000000  144000.000000   570.000000   201.800000

        engineSize
count  3759.000000
mean      1.352807
std       0.437130
min       0.000000
25%       1.000000
50%       1.200000
75%       1.500000
max       5.000000                 year        mileage          tax          mpg   engineSize
count  1617.000000    1617.000000  1617.000000  1617.000000  1617.000000
mean   2016.752628   23817.544836   113.089054    57.804082     1.362894
std       2.182152   20130.026364    63.584868    10.567025     0.436878
min    2005.000000       5.000000     0.000000    20.900000     0.000000
25%    2016.000000   10422.000000    30.000000    52.300000     1.000000
50%    2017.000000   18471.000000   145.000000    58.900000     1.200000
75%    2018.000000   31098.000000   145.000000    65.700000     1.600000
max    2020.000000  150890.000000   570.000000   201.800000     5.000000
0 0

In [40]:
train.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,EcoSport,2017,10298,Manual,25013,Petrol,150,53.3,1.0
1,Focus,2016,10491,Manual,30970,Diesel,0,74.3,1.5
2,S-MAX,2017,13498,Manual,60200,Diesel,150,56.5,2.0
3,Fiesta,2018,10600,Manual,27380,Petrol,145,56.5,1.0
4,Fiesta,2018,11000,Manual,7724,Petrol,145,65.7,1.0

In [41]:
from sklearn.preprocessing import LabelEncoder

target = train.pop('price')

cols = train.select_dtypes(include='O').columns

for col in cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])
    test[col] = le.fit_transform(test[col])

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(train, target, random_state=0, test_size=0.2)

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state=0)
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)

from sklearn.metrics import mean_squared_error
def rmse(y_pred, y_test):
    print(mean_squared_error(y_pred, y_test) ** 0.5)

rmse(y_pred, y_test)

import lightgbm as lgbm
lg = lgbm.LGBMRegressor(random_state=0, verbose=-1)
lg.fit(x_train, y_train)
y_pred = lg.predict(x_test)
rmse(y_pred, y_test)

import xgboost as xgb
xg = xgb.XGBRegressor(random_state=0)
xg.fit(x_train, y_train)
y_pred = xg.predict(x_test)
rmse(y_pred, y_test)

1302.5271377093507
1188.060473375616
1282.9203692332956

In [42]:
y_pred = lg.predict(test)
result = pd.DataFrame({
    'pred':y_pred
})
result.to_csv('result.csv', index=False)
print(result.shape)
print(result.head())

(1617, 1)
           pred
0  15583.719236
1  16166.976077
2  14550.849212
3  17736.646878
4   6169.668902