## 작업형1

### 문제1

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch7/student_assessment.csv")

In [2]:
df.head()

   id_assessment  student_id  study_period_days  score
0            103           0                 22   87.0
1             93           1                 70   92.0
2             15           2                 22    2.0
3            107           3                 22   51.0
4             72           4                 22   73.0

In [5]:
df = df.dropna()
print(df['id_assessment'].value_counts().idxmax())

df = df[df['id_assessment'] == 12]

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

df['score'] = sc.fit_transform(df[['score']])
print(round(df['score'].max(), 3))

12
2.183

### 문제2

In [6]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch7/stock_market.csv")

In [7]:
df.head()

,DE1,DE2,DE3,DE4,DE5,DE6,DE7,DE8,DE9,DE10,...,DE71,DE72,DE73,DE74,DE75,DE76,DE77,open,close,volume
0,1.764052,0.400157,0.978738,2.240893,1.867558,-0.977278,0.950088,-0.151357,-0.103219,0.410599,...,0.729091,0.128983,1.139401,-1.234826,0.402342,-0.684810,-0.870797,129.549102,126.502056,981466.0
1,-0.578850,-0.311553,0.056165,-1.165150,0.900826,0.465662,-1.536244,1.488252,1.895889,1.178780,...,1.117016,-1.315907,-0.461585,-0.068242,1.713343,-0.744755,-0.826439,126.502056,128.041811,473416.0
2,-0.098453,-0.663478,1.126636,-1.079932,-1.147469,-0.437820,-0.498032,1.929532,0.949421,0.087551,...,-1.540797,0.063262,0.156507,0.232181,-0.597316,-0.237922,-1.424061,128.041811,128.957651,46597.0
3,-0.493320,-0.542861,0.416050,-1.156182,0.781198,1.494485,-2.069985,0.426259,0.676908,-0.637437,...,1.658131,-0.118164,-0.680178,0.666383,-0.460720,-1.334258,-1.346718,128.957651,122.965246,455747.0
4,0.693773,-0.159573,-0.133702,1.077744,-1.126826,-0.730678,-0.384880,0.094352,-0.042171,-0.286887,...,-0.206904,0.880179,-1.698106,0.387280,-2.255564,-1.022507,0.038631,122.965246,114.922790,242198.0

In [11]:
df_corr = df.corr()['close'].abs()
df_max = df_corr.loc['DE1':'DE77'].idxmax()
print(round(df[df_max].mean(), 4))

-0.0004

### 문제3

In [17]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch7/air_quality.csv")

In [18]:
df.head()

                  Date        CO         CO2         O2
0  2024-01-01 00:00:00  0.549671  383.037632  21.248286
1  2024-01-01 01:00:00  0.486174  392.362513  21.183324
2  2024-01-01 02:00:00  0.564769  385.065473  19.963480
3  2024-01-01 03:00:00  0.652303  402.760451  21.479584
4  2024-01-01 04:00:00  0.476585  429.929463  19.409917

In [19]:
Q1 = df['CO2'].quantile(0.25)
Q3 = df['CO2'].quantile(0.75)
IQR = Q3 - Q1
lower = Q1 - IQR * 1.5
upper = Q3 + IQR * 1.5

x = df[(df['CO2'] > upper) | (df['CO2'] < lower)]
print(len(x))

304

## 작업형 2

In [29]:
# 데이터 불러오기
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch7/mart_train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch7/mart_test.csv")

In [30]:
print(train.shape, test.shape)
print(train.describe(), test.describe())
print(train.info(), test.info())
print(train.isnull().sum().sum(), test.isnull().sum().sum())

(700, 10) (300, 9)
              total      rating
count  7.000000e+02  700.000000
mean   4.850780e+05    7.003429
std    3.643907e+05    1.713078
min    1.904175e+04    4.000000
25%    2.001195e+05    5.500000
50%    3.818745e+05    7.000000
75%    7.061276e+05    8.425000
max    1.563975e+06   10.000000            rating
count  300.000000
mean     6.901000
std      1.732099
min      4.000000
25%      5.500000
50%      6.800000
75%      8.500000
max     10.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   branch          700 non-null    object
 1   city            700 non-null    object
 2   customer_type   700 non-null    object
 3   gender          700 non-null    object
 4   product_line    700 non-null    object
 5   total           700 non-null    float64
 6   payment_method  700 non-null    object
 7   rating          700 non-null    float64
 8   time_of_day     700 non-null    object
 9   day_name        700 non-null    object
dtypes: float64(2), object(8)
memory usage: 54.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   branch          300 non-null    object
 1   city            300 non-null    object
 2   customer_type   300 non-null    object
 3   gender          300 non-null    object
 4   product_line    300 non-null    object
 5   payment_method  300 non-null    object
 6   rating          300 non-null    float64
 7   time_of_day     300 non-null    object
 8   day_name        300 non-null    object
dtypes: float64(1), object(8)
memory usage: 21.2+ KB
None None
0 0

In [31]:
train.head(3)

,branch,city,customer_type,gender,product_line,total,payment_method,rating,time_of_day,day_name
0,A,Yangon,Member,Female,Health and beauty,823457.25,Ewallet,9.1,afternoon,Saturday
1,C,Naypyitaw,Normal,Female,Electronic accessories,120330.00,Cash,9.6,morning,Friday
2,A,Yangon,Normal,Male,Home and lifestyle,510788.25,Credit card,7.4,afternoon,Sunday

In [32]:
target = train.pop('total')

from sklearn.preprocessing import LabelEncoder

cols = train.select_dtypes(include='O').columns

for col in cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col]) 
    test[col] = le.transform(test[col])

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(train, target, random_state=0, test_size=0.2)

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(random_state=0)
rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)

from sklearn.metrics import mean_squared_error
def rmse(y_pred, y_test):
    print(mean_squared_error(y_pred, y_test) ** 0.5)

rmse(y_pred, y_test)

import lightgbm as lgbm
lg = lgbm.LGBMRegressor(random_state=0, verbose=-1)
lg.fit(x_train, y_train)
y_pred = lg.predict(x_test)
rmse(y_pred, y_test)

import xgboost as xgb
xg = xgb.XGBRegressor(random_state=0)
xg.fit(x_train, y_train)
y_pred = xg.predict(x_test)
rmse(y_pred, y_test)

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
rmse(y_pred, y_test)

395945.4750788139
423502.19189255615
445824.1295209891
371070.13447345496

In [33]:
y_pred = lr.predict(test)

result = pd.DataFrame({
    'pred':y_pred
})

result.to_csv('result.csv', index=False)
print(result.shape)

(300, 1)

## 작업형3

### 문제1-1

In [65]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch7/clam.csv")

In [66]:
train = df.iloc[:210]
test = df.iloc[210:]

In [67]:
train.head()

   age    length  diameter    height     weight  gender
0    6  0.474627  0.211352  0.178189  78.971766       1
1    1  0.465847  0.339388  0.170522  98.781960       1
2    4  0.122807  0.238691  0.106924  88.792625       0
3    4  0.204579  0.360543  0.034261   1.028847       0
4    8  0.243458  0.358037  0.128080   6.503367       0

In [41]:
from statsmodels.formula.api import logit
import numpy as np

In [43]:
formula = 'gender ~ weight'
model = logit(formula, data=train).fit()

ans = model.params['weight']

print(round(np.exp(ans), 4))

Optimization terminated successfully.
         Current function value: 0.690045
         Iterations 4
1.0047

### 문제1-2

In [68]:
from statsmodels.formula.api import logit
import numpy as np

formula = 'gender ~ age + length + diameter + height + weight'
model = logit(formula, data=train).fit()

print(round(model.llf * -2 ,2))

Optimization terminated successfully.
         Current function value: 0.683173
         Iterations 4
286.93

### 문제1-3

In [69]:
formula = 'gender ~ weight'
model = logit(formula, data=train).fit()
target = test.pop('gender')
from sklearn.metrics import accuracy_score

y_pred = model.predict(test)
y_pred = (y_pred > 0.5).astype(int)

acc = accuracy_score(target, y_pred)
x = 1 - acc

print(round(x, 3))

Optimization terminated successfully.
         Current function value: 0.690045
         Iterations 4
0.478

### 문제2-1

In [55]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch7/system_cpu.csv")

In [57]:
df.head()

     ERP  Feature1  Feature2  Feature3    CPU
0   30.6     235.1      44.5      44.0  112.3
1   40.3      36.6      46.4      36.1   58.6
2   57.7      52.2      66.5       2.0   55.3
3  128.3     196.2      59.8      57.4  103.2
4   80.3      75.2      59.6      58.2  104.1

In [58]:
df_corr = df.corr()['ERP'].abs()
ma = df_corr.loc['Feature1':].max()
print(round(ma, 3))

0.882

### 문제2-2, 2-3

In [59]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part4/ch7/system_cpu.csv")

In [60]:
df.head()

     ERP  Feature1  Feature2  Feature3    CPU
0   30.6     235.1      44.5      44.0  112.3
1   40.3      36.6      46.4      36.1   58.6
2   57.7      52.2      66.5       2.0   55.3
3  128.3     196.2      59.8      57.4  103.2
4   80.3      75.2      59.6      58.2  104.1

In [64]:
df = df[df['CPU'] < 100]
formula = 'ERP ~ Feature1 + Feature2 + Feature3 + CPU'

from statsmodels.formula.api import ols

model = ols(formula, data=df).fit()

print(model.summary())
print(round(model.rsquared, 3))
print(round(model.pvalues.max(), 3))

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ERP   R-squared:                       0.755
Model:                            OLS   Adj. R-squared:                  0.736
Method:                 Least Squares   F-statistic:                     39.30
Date:                Mon, 25 Nov 2024   Prob (F-statistic):           5.36e-15
Time:                        17:33:45   Log-Likelihood:                -260.40
No. Observations:                  56   AIC:                             530.8
Df Residuals:                      51   BIC:                             540.9
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     51.4133     19.112      2.690      0.010      13.045      89.782
Feature1      -0.0242      0.059     -0.409      0.684      -0.143       0.094
Feature2       0.0602      0.106      0.569      0.572      -0.152       0.273
Feature3       1.4126      0.113     12.458      0.000       1.185       1.640
CPU           -0.4651      0.234     -1.985      0.053      -0.936       0.005
==============================================================================
Omnibus:                        3.758   Durbin-Watson:                   1.762
Prob(Omnibus):                  0.153   Jarque-Bera (JB):                2.757
Skew:                           0.436   Prob(JB):                        0.252
Kurtosis:                       3.648   Cond. No.                         780.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
0.755
0.684